<!-- RewriteEngine On
RewriteCond %{HTTP_HOST} ^askoncologist\.com [NC]
RewriteRule ^(.*)$ https://www.askoncologist.com/$1 [L,R=301] -->
Redirect 301 /fullblogs.php?id=65 https://www.askoncologist.com/fullblog.php?id=65
Redirect 301 /fullblogs.php?id=64 https://www.askoncologist.com/fullblog.php?id=64
Redirect 301 /fullblogs.php?id=63 https://www.askoncologist.com/fullblog.php?id=63
Redirect 301 /fullblogs.php?id=62 https://www.askoncologist.com/fullblog.php?id=62
Redirect 301 /fullblogs.php?id=61 https://www.askoncologist.com/fullblog.php?id=61
Redirect 301 /fullblogs.php?id=60 https://www.askoncologist.com/fullblog.php?id=60
Redirect 301 /fullblogs.php?id=59 https://www.askoncologist.com/fullblog.php?id=59
Redirect 301 /fullblogs.php?id=58 https://www.askoncologist.com/fullblog.php?id=58
Redirect 301 /fullblogs.php?id=51 https://www.askoncologist.com/fullblog.php?id=51
Redirect 301 /fullblogs.php?id=57 https://www.askoncologist.com/fullblog.php?id=57